<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application android:allowBackup="false" android:label="Bat" android:icon="@drawable/bat_emblem" android:theme="@style/Theme.CampusEvents" android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
            <intent-filter><action android:name="android.intent.action.SEND"/><category android:name="android.intent.category.DEFAULT"/><data android:mimeType="text/plain"/></intent-filter>
        </activity>
        <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        <service android:name=".WhatsAppNotificationListener" android:label="Bat notification access" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:exported="false">
            <intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter>
            <meta-data android:name="android.service.notification.default_filter_types" android:value="conversations|alerting" />
        </service>
        <receiver android:name=".CandidateActionReceiver" android:exported="false" />
    </application>
</manifest>
